mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 201px;
  background: #f9fafb;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ffb787;
  gap: 10px;
}

.app-toolbar{
  display: flex;
  gap: 10px;
}

mat-sidenav-content {
  background: #f3f4f6;
  min-height: calc(100vh - 100px);
}

.logo {
  text-align: center;
}

.content {
  text-align: center;
}
