@switch (content()) {
  @case (State.List) {
    @if (departmentItems && departmentItems.length) {
      <app-table [columns]="departmentColumns" [items]="departmentItems" [options]="departmentOption"/>
    } @else {
      <app-form-empty/>
    }
  }
  @case (State.Create) {
    <app-form-department (relist)="list()"/>
  }
  @case (State.Update) {
    <app-form-department (relist)="list()" [department]="department"/>
  }
  @case (State.Confirm) {
    <app-form-confirm (confirm)="delete($event)" [id]="id"/>
  }
}
