@switch (content()) {
  @case (State.List) {
    @if (equipmentItems && equipmentItems.length) {
      <app-table [columns]="equipmentColumns" [items]="equipmentItems" [options]="equipmentOption" [pickOn]="true"/>
    } @else {
      <app-form-empty/>
    }
  }
  @case (State.Create) {
    <app-form-equipment-create (relist)="list()"/>
  }
  @case (State.Update) {
    <app-form-equipment-update (relist)="list()" [equipment]="equipment"/>
  }
  @case (State.Confirm) {
    <app-form-confirm (confirm)="delete($event)" [id]="id"/>
  }
}
