<mat-card appearance="raised">
  <mat-card-header>
    <mat-card-title>{{ head }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <form [formGroup]="form">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Название</mat-label>
          <input [formControl]="title" matInput>
          @if (title.hasError('required')) {
            <mat-error>Необходимо заполнить!</mat-error>
          }
          @if (title.hasError('pattern')) {
            <mat-error>Недопустимые символы!</mat-error>
          }
          @if (title.hasError('minlength')) {
            <mat-error>Минимум 3 символа!</mat-error>
          }
          @if (title.hasError('maxlength')) {
            <mat-error>Максимум 50 символов!</mat-error>
          }
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Категория</mat-label>
          <mat-select [formControl]="category">
            @for (item of categoryItems; track item) {
              <mat-option [value]="item.id">{{ item.title }}</mat-option>
            }
          </mat-select>
          @if (category.hasError('required')) {
            <mat-error>Необходимо заполнить!</mat-error>
          }
        </mat-form-field>
      </p>
      <p class="buttons">
        <button (click)="ok()" [disabled]="form.invalid" matButton="tonal">OK</button>
        <button (click)="cancel()" matButton="tonal">Отмена</button>
      </p>
    </form>
  </mat-card-actions>
</mat-card>
